In [3]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [1]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [4]:
my_list[0]

1

In [5]:
weapons =["rifle","shortgun","machine gun"]
weapons

['rifle', 'shortgun', 'machine gun']

# A SIMPLE PANDAS SERIES FROM A DICTIONARY: FOR DAYS AND DATES

In [6]:
my_dict = {'Monday': '03-2001','Tuesday': '04-2001','Wednesday': '05-2001','Thursday': '06-2001','Friday': '07-2001'}

# choose only Monday and Tuesday from the whole dictionary

In [8]:
series = pd.Series(my_dict)
series

Monday       03-2001
Tuesday      04-2001
Wednesday    05-2001
Thursday     06-2001
Friday       07-2001
dtype: object

In [14]:
data = {'Monday': '2023-07-03',
        'Tuesday': '2023-07-04',
        'Wednesday': '2023-07-05',
        'Thursday': '2023-07-06',
        'Friday': '2023-07-07'}

series = pd.Series(data)
subset_series = series[['Monday', 'Tuesday']]

In [15]:
subset_series

Monday     2023-07-03
Tuesday    2023-07-04
dtype: object